<div>
    <div>
        <%= image_tag 'https://placekitten.com/200/200' %>
    </div>
    <div>
        <div>
            <%= link_to "#{user.name}", user %>
        </div>
        <div>
            <%= "Number of posts: #{user.posts_counter}" %>
        </div>
    </div>
</div>