
<div class="w-full">
    <%= render partial: "partials/userCard", locals: { user: @user } %>

    <div class="border-2 w-full my-5 px-3 pt-3 pb-5">
        <h2 class="text-xl font-medium">Bio</h2>
        <p class="mt-5">
            <%= @user.bio %>
        </p>
    </div>

    <div class="mt-7">
        <ul>
            <% @user.most_recent_posts.each_with_index do |post,index| %>
                <li class="my-5">
                    <%= render partial: "partials/postCard", locals:{ post: post, index:index } %>
                </li>
            <% end %>
        </ul>
    </div>

    <div class="flex justify-center">
        <button class=" border-2 px-4 ">
            <%= link_to "See all posts", user_posts_path(@user) %>
        </button>
    </div>
</div>

